@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.fredokaone {
  font-family: 'Fredoka One', cursive;
}

.fredoka-reg {
  font-family: 'Fredoka', sans-serif;
}

.quicksands {
  font-family: 'Quicksand', sans-serif;
}

.inter-reg {
  font-family: 'Inter', sans-serif;
}