@import url('./posB.scss');
@import url('./posL.scss');
@import url('./posR.scss');
@import url('./posT.scss');

.pos-abs {position: absolute;}
.pos-rel {position: relative;}
.pos-fix {position: fixed;}