.opacity-0p {
  opacity: 0%;
}

.opacity-1p {
  opacity: 1%;
}

.opacity-2p {
  opacity: 2%;
}

.opacity-3p {
  opacity: 3%;
}

.opacity-4p {
  opacity: 4%;
}

.opacity-5p {
  opacity: 5%;
}

.opacity-6p {
  opacity: 6%;
}

.opacity-7p {
  opacity: 7%;
}

.opacity-8p {
  opacity: 8%;
}

.opacity-9p {
  opacity: 9%;
}

.opacity-10p {
  opacity: 10%;
}

.opacity-11p {
  opacity: 11%;
}

.opacity-12p {
  opacity: 12%;
}

.opacity-13p {
  opacity: 13%;
}

.opacity-14p {
  opacity: 14%;
}

.opacity-15p {
  opacity: 15%;
}

.opacity-16p {
  opacity: 16%;
}

.opacity-17p {
  opacity: 17%;
}

.opacity-18p {
  opacity: 18%;
}

.opacity-19p {
  opacity: 19%;
}

.opacity-20p {
  opacity: 20%;
}

.opacity-21p {
  opacity: 21%;
}

.opacity-22p {
  opacity: 22%;
}

.opacity-23p {
  opacity: 23%;
}

.opacity-24p {
  opacity: 24%;
}

.opacity-25p {
  opacity: 25%;
}

.opacity-26p {
  opacity: 26%;
}

.opacity-27p {
  opacity: 27%;
}

.opacity-28p {
  opacity: 28%;
}

.opacity-29p {
  opacity: 29%;
}

.opacity-30p {
  opacity: 30%;
}

.opacity-31p {
  opacity: 31%;
}

.opacity-32p {
  opacity: 32%;
}

.opacity-33p {
  opacity: 33%;
}

.opacity-34p {
  opacity: 34%;
}

.opacity-35p {
  opacity: 35%;
}

.opacity-36p {
  opacity: 36%;
}

.opacity-37p {
  opacity: 37%;
}

.opacity-38p {
  opacity: 38%;
}

.opacity-39p {
  opacity: 39%;
}

.opacity-40p {
  opacity: 40%;
}

.opacity-41p {
  opacity: 41%;
}

.opacity-42p {
  opacity: 42%;
}

.opacity-43p {
  opacity: 43%;
}

.opacity-44p {
  opacity: 44%;
}

.opacity-45p {
  opacity: 45%;
}

.opacity-46p {
  opacity: 46%;
}

.opacity-47p {
  opacity: 47%;
}

.opacity-48p {
  opacity: 48%;
}

.opacity-49p {
  opacity: 49%;
}

.opacity-50p {
  opacity: 50%;
}

.opacity-51p {
  opacity: 51%;
}

.opacity-52p {
  opacity: 52%;
}

.opacity-53p {
  opacity: 53%;
}

.opacity-54p {
  opacity: 54%;
}

.opacity-55p {
  opacity: 55%;
}

.opacity-56p {
  opacity: 56%;
}

.opacity-57p {
  opacity: 57%;
}

.opacity-58p {
  opacity: 58%;
}

.opacity-59p {
  opacity: 59%;
}

.opacity-60p {
  opacity: 60%;
}

.opacity-61p {
  opacity: 61%;
}

.opacity-62p {
  opacity: 62%;
}

.opacity-63p {
  opacity: 63%;
}

.opacity-64p {
  opacity: 64%;
}

.opacity-65p {
  opacity: 65%;
}

.opacity-66p {
  opacity: 66%;
}

.opacity-67p {
  opacity: 67%;
}

.opacity-68p {
  opacity: 68%;
}

.opacity-69p {
  opacity: 69%;
}

.opacity-70p {
  opacity: 70%;
}

.opacity-71p {
  opacity: 71%;
}

.opacity-72p {
  opacity: 72%;
}

.opacity-73p {
  opacity: 73%;
}

.opacity-74p {
  opacity: 74%;
}

.opacity-75p {
  opacity: 75%;
}

.opacity-76p {
  opacity: 76%;
}

.opacity-77p {
  opacity: 77%;
}

.opacity-78p {
  opacity: 78%;
}

.opacity-79p {
  opacity: 79%;
}

.opacity-80p {
  opacity: 80%;
}

.opacity-81p {
  opacity: 81%;
}

.opacity-82p {
  opacity: 82%;
}

.opacity-83p {
  opacity: 83%;
}

.opacity-84p {
  opacity: 84%;
}

.opacity-85p {
  opacity: 85%;
}

.opacity-86p {
  opacity: 86%;
}

.opacity-87p {
  opacity: 87%;
}

.opacity-88p {
  opacity: 88%;
}

.opacity-89p {
  opacity: 89%;
}

.opacity-90p {
  opacity: 90%;
}

.opacity-91p {
  opacity: 91%;
}

.opacity-92p {
  opacity: 92%;
}

.opacity-93p {
  opacity: 93%;
}

.opacity-94p {
  opacity: 94%;
}

.opacity-95p {
  opacity: 95%;
}

.opacity-96p {
  opacity: 96%;
}

.opacity-97p {
  opacity: 97%;
}

.opacity-98p {
  opacity: 98%;
}

.opacity-99p {
  opacity: 99%;
}

.opacity-100p {
  opacity: 100%;
}

/*# sourceMappingURL=opacity.css.map */